# Python pycache
**/__pycache__/
*.py[cod]
*$py.class
non_publish/

# Output prediction & scores
predictions.json
scores.json
analysis_results.jsonl

# OS files
.DS_Store
Thumbs.db
large_design
large_design_minimal
